/* -----Entire Page--- */

.container,
.container-fluid,
.row {
    margin: 0;
    padding: 0;
}

/* ------------Nav Bar*/

.navbar-deco {
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Marck Script', cursive;
    background-color: rgba(72, 126, 176, 0.3);

}


.navbar-deco a:hover {
    background-color: rgba(72, 126, 176, 0.4);
}

.nav--item {
    padding-left: 20px;
    padding-right: 20px;
}

/* -----Landing  background Image of index.html--- */

.containertop {
    background: url('../images/kerrywayhiking.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
}

/* -----Landing  background Image of outdoor.html--- */

.containertop-outdoor {
    background: url('../images/ballach1.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
}

/* -----Landing  background Image of food.html--- */

.containertop-food {
    background: url('../images/guinness.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
}

/* -----Landing  background Image of accommodation.html--- */

.containertop-accom {
    background: url('../images/blackstoneshouse.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
}

/* -----Landing  background Image of contact.html--- */

.containertop-contact {
    background: url('../images/coose1.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
}



/* ------------Welcome Text*/

.content {
    position: relative;
    text-transform: uppercase;
    text-align: center;

}

.content h1,
h2 {
    color: #fafafa;
    font-size: 30px;
    letter-spacing: 16px;
    padding-bottom: 10px;
}

/* ----------------------------------------Top Section Columns & Rows... */

.row-top {
    height: 250px;
    padding-top: 15px;
}


.col1 {
    height: auto;
}

.col2 {
    height: 250px;
    margin-top: 50px
}



/* ----------------------------------------Middle Sections, fonts... */

.colmiddle {
    padding: 12px;
    text-align: center;
}

.content-title {
    text-align: center;
    font-family: 'Marck Script', cursive;
    padding: 12px;
    color: #487eb0;
    text-decoration: none;
    font-size: 30px;
    text-transform: none;
}

.content-description {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;

}

/*----------------contact form section---*/

.container-form {
    height: 710px;
}

.col-contactform {
    padding-top: 10px;
}

.form-custom {
    padding: 5px;
}


/*----------------bottom section---*/

.col-bottom {
    padding-top: 15px;
    text-align: center;
}

/*--Footer background Image---*/

.container-bottom {
    background: url('../images/bogcotton.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--Opaque Overlay---*/

.opaque-overlay {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.font-white {
    color: #fafafa;
}

.font-blue {
    color: #487eb0;
    ;
}




/* ----Footer & Social Media Icons---*/

.row-bottom-footer {
    height: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.col-footer {
    padding-bottom: 15px;
    padding-top: 3px;
    text-align: center;
}


.custom-footer {
    margin-top: 25px;
    background-color: none;
    text-align: center;
    font-family: 'Marck Script', cursive;
    color: #fafafa;
    text-decoration: none;
    font-size: 25px;
    text-transform: none;
}

/* --------Social Icons Hover effects, courtesy of codemyui.com----*/

.fab {
    padding: 5px;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 10%;

}

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: inline-flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 5vh;
}

a {
    padding: 0px 10px;
}

.wrapper a:nth-child(1) {
    color: #4867AA;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
}

.wrapper a:nth-child(1):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}


.wrapper a:nth-child(2) {
    color: #e74c3c;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
}

.wrapper a:nth-child(2):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}

.wrapper a:nth-child(3) {
    color: #f5f6fa;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 150ms;
}

.wrapper a:nth-child(3):hover {
    margin-top: -10px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
    transform: translate(0, -5);
}

.wrapper a:nth-child(4) {
    color: rgba(231, 76, 60, 1.0);
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 150ms;
}

.wrapper a:nth-child(4):hover {
    margin-top: -10px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
    transform: translate(0, -5);
}
