/* ----------------------------------------Background Image, Landing Page, Top Section */

.section-top {
    background: url('../images/ballach1.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 1200px;
    overflow: hidden;
    position: relative;
    animation: slide 25s infinite;

}

@keyframes slide {
    0% {
        background-image: url('../images/ballach1.jpg');
    }
    33% {
        background-image: url('../images/ballach2.jpg');
    }
    67% {
        background-image: url('../images/ballach3.jpg');
    }
}

/* ----------------------------------------Fonts, etc, Landing Page, all Sections */

.section-middle {
    background-color: white;
    width: 100%;
    height:500px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
}

.content-description {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.section-bottom {
    background-color: white;
    width: 100%;
    height:500px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
}




/* ----------------------------------------Background Image, things-to-do Page */

.callout-container {
    background: url('../images/coose1.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 1200px;
    overflow: hidden;
    position: relative;
}





/*------------------------------------------------------------- Content Fonts, etc, Landing Page */

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    text-transform: uppercase;
    text-align: center;
}

.content h1,
h2 {
    color: #fafafa;
    font-size: 50px;
    letter-spacing: 16px;
    padding-bottom: 10px;

}


.content a {
    background: #0984e3;
    padding: 10px 24px;
    color: #fafafa;
    text-decoration: none;
    font-size: 18px;
    border-radius: 18px;
}


/* ----------------------------------------Nav Bar */

.navbar {
    width: 100%;
    background-color: rgba(72, 126, 176, 0.2);
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-family: 'Shadows Into Light', cursive;
}

.navbar a:hover {
    background-color: rgba(72, 126, 176, 0.4);
}

.active {
    background-color: none;
}

/* ----------------------------------------does this work?*/

@media screen and (max-width: 500px) {
    .navbar a {
        float: left;
        display: block;
    }
}


/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

/* ----------------------------------------Footer*/

.section-footer {
    background-color: rgba(72, 126, 176, 0.2);
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    color: black;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    
    
}


.fab {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

fab:hover {
    opacity: 0.7;
}

.fab fa-facebook-f {
  background: red;
  color: white;
}

.fab fa-google {
  background: #dd4b39;
  color: white;
}

fab fa-instagram {
  background: #125688;
  color: white;
}


